html, body {

    width: 100%;
    margin: 0;
    
}

body {
    background-color: #282828;
}

article {

    display: grid;    

}

.navbar, h1 {
    color: ivory;
    margin: 0 40px;
}

.navbar {
    background-color: black;
    margin: 0;
    padding-left: 30px;
    padding-right: 30px;
}

.navbar-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.navbar-link-list {
    display: flex;
    flex-direction: row;
    gap: 20px;

    list-style: none;
}

.navbar-link {
    color: ivory;
    text-decoration: none;
}

.nameplate {
    color:white; 
}

.nameplate-link {
    text-decoration: none;
}

/* ---------- Body Elements ---------- */

#main-banner {
    width: auto;
    position: relative;

    margin-top: 40px;
}

#bg {
    width: 100%;
    display: block;
    background: url('../images/digital-rain.gif') repeat;
    background-size: cover;

    box-shadow: 0px 0px 50px #33ff00;
}

#headliner-container {
    /* Text Styling */
    background-color: rgba(0, 0, 0, 0.8);
    border: 1px solid #fff;

    /* Sizing */
    padding: 10px;
    width: 650px;

    /* Positioning */
    position: absolute;
    top: 35%;
    left: 750px;

}

#headliner-text {
    color: white;
    font-size: 30px;
    font-family: "Lucida Console", "Courier New", monospace;
    line-height: 1.5;
    text-align: center;
}

/* ---------- Projects section ---------- */
.projects-section {
    width: 80vw;
    padding-top: 100px;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-bottom: 40px;

    display: flex;
    flex-direction: column;
    gap: 60px;
}

.project-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    /* Sizing*/
    width: 100%;
    height: 25%;
}

.project-card .project-info {
    /* Sizing */
    margin-top: 0px;
    width: 40%;

    padding: 10px 20px 10px 20px;

    /* Styling */
    font-family: "Lucida Console", "Courier New", monospace;
    color: white;
}

.project-image-container {
    height: 100%;
    width: 60%;
    background-color: red;
}

.project-image-container img {
    width: 100%; 
    height: 100%;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* ---------- Footer styling ---------- */
.footer {
    background-color: black;
    height: 60px;
    color: white;

    bottom: 0;

    padding-right: 20px;
    padding-left: 20px;
}

.footer-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    height:60px;
}

.fa {
  padding: 10px;
  font-size: 20px;
  width: 15px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-linkedin {
  /*background: #007bb5;*/
  color: white;
}

.fa-envelope {
    color: white;
}

.fa-github {
    color: white;
}